.question {
  position: relative;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.question p {
  width: fit-content;
  padding: 10px;
  color: white;
}

.question button {
  margin-top: 50px;
}
